section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    color: #ff004f;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #ff004f;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
    font-size: 24px;
}


/* about */

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #ff004f;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #ff004f;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.row{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.row img{
    border-radius: 20px;
    width: 500px;
    height: auto;
}

.font-italic{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-1 strong{
    color: #c9144d;
}

.row-1 a{
    text-decoration: none;
    color: white;
}

.row-1 a:hover{
    border-radius: 2px;
    background-color: #c9144d;
}

.font-italic a{
    text-decoration: none;
    color: #ff004f;
    font-style: none;
}

.font-italic a:hover{
    color:white;
    border-radius: 2px;
    background-color: #c9144d;
}

#header {background: #000000db;}
.header-text {margin-top: 15%;}


@media(max-width: 768px) {
.row {padding-top: 20px; display: block;  width: 100%;}
.section-title p {font-size: 18px;  line-height: 30px;}
col-lg-8 pt-4.pt-lg-0.content {padding: 35px 0;}
nav ul li {margin: 20px 8px;}
.row{
    flex-direction: column;
}
.row img{
    width: auto;
    max-width: 100%;
    margin-bottom: 1.563rem;
}}
