section {
    padding: 60px 0;
}

.section-title h2 {
    text-align: center;
    color: #ff004f;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #ff004f;
    bottom: 0;
    left: calc(50% - 25px);
}

.contact-form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid rgb(42, 39, 39);
    border-radius: 5px;
}

.contact-form input{
    width: 100%;
}
.contact-form textarea{
    width: 100%;
}

#submit{
    background-color: #c9144d;
}