body{
    height: 100%;
    width: 100%;
    background-image: url("/images/sonji.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#header h1{
    margin-top: 3%;
}

#header p{
    margin-top: 2%;
}

.header-text{
    margin-top: 3%;
    font-size: 1.875rem;
}

.header-text h1{
    font-size: 3.75rem;
    margin-top: .25rem;

}

.header-text h1 span{
    color: #ff004f;

}

@media (max-width: 1180px) {
    .p-title{
        padding-top: 20px;
        font-size: 1.5rem;
    }
    .header-text h1{
        padding-top: 20px;
        font-size: 1.2rem;
    }
    .p-description{
        font-size: 1rem;
        display: inline;
    }
}